<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css"/>
    <title>Página Inicial</title>
</head>
<body>

{% with messages = get_flashed_messages() %}  
    {% if messages %}  
        {% for message in messages %}  
            <p class="error">{{ message }}</p>
        {% endfor %}  
    {% endif %}  
{% endwith %}

<nav id="navbar">
   <form class="navform" action="/login"><input class="navinput" type="submit" value="login"></form>
   <form class="navform" action="/cadastro"><input class="navinput" type="submit" value="Cadastre-se"></form>
</nav>

    <h1>Página Inicial</h1>

</body>
</html>